@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'JetBrains Mono','Fira Mono',monospace;

    overflow-x: hidden;
    /* overflow-y: hidden; */

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    ;
}

nav {
    position: sticky;
    display: flex;
    justify-content:center;
    align-items: center;

    & > div {
        display: flex;
        justify-content:center;
        align-items: center;
        padding: 0;
        margin: 1rem;
        background: radial-gradient(ellipse, rgba(0,0,0,0.50) 0%, rgba(0,0,0,0) 95%);
    }

    & > div > img {
        width: 50px;
        height: 50px;
    }
    & > div > * {
        padding-inline: 10px;
        font-size: 2.5rem;
        font-weight: 900;
        margin: 0;
        text-shadow: 0 4px 8px rgba(0, 0, 0, 0.266);

        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        -webkit-user-drag: none;
    }
}

.background-text {
    margin: -1rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.1;

    text-decoration: none;
    color: inherit;

    overflow-y: hidden;
    overflow: hidden;

    & > p {
        word-spacing: -1rem;
        margin: 0;
        word-break: break-all;

        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    };

    font-size: 2.5rem;
    font-weight: 900;

}

.container {
    transform: translateY(0%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    & > * {
        margin: 20px;
    }
    
}

.bio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    & > img {
        width: 12rem;
        margin: 15px;
        border-radius: 5px;
        user-select: none;
    }
    & > p {
        margin: 0;
    }
    margin-bottom: 50px;
}

.title,
.subtitle {
    backdrop-filter: blur(12px);
    margin: 15px;
}

.title {
    font-size: 2rem;
    font-weight: 900;
    opacity: 0.8;
}
.subtitle {
    font-size: 1rem; 
    color: red;
    font-weight: 500;
}

.link {
    display: flex;
    justify-content: center;
    background-color: transparent;
    width: 80%;
    max-width: 45vh;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 2px solid rgba(255, 255, 255, 0.513);
    color: white;
    box-shadow: none;
    padding: 5px;
    border-radius: 12px;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 10px;

    transition: color 300ms cubic-bezier(1,-0.01,0,1),
    background-color 300ms cubic-bezier(1,-0.01,0,1),
    box-shadow 300ms cubic-bezier(1,-0.01,0,1),
    border 300ms cubic-bezier(1, -0.01, 0, 1),
    -webkit-backdrop-filter 300ms cubic-bezier(1, -0.01, 0, 1);

    &:hover {
        color: black;
        background-color: #d2d2d2d9;
    }

    & > span {
        font-size: inherit;
    };
}

.link {
    text-decoration: none;
    color: inherit;

    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.github {
    font-family: 'Pixelify Sans', cursive;
}

.linkedin {
    font-family: sans-serif;
}

.behance {
    font-family: 'Gochi Hand', cursive;
}

.mini-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.minilink {
    padding: 12px;
    color: white;
    text-decoration: none;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background-color: rgba(0, 0, 0, 0.397);
    border: 3px solid rgba(255, 255, 255, 0.513);

    border-radius: 50px;

    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 300ms cubic-bezier(1, -0.01, 0, 1);

    & > p {
        transition: color 300ms cubic-bezier(1, -0.01, 0, 1); 
        margin: 0;
        padding: 0;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.746);

        & > img {filter: none;}

        & > p {color: black;}
    }

    margin-inline: 15px;

    & > img {
        width: 1.2rem;

        filter: invert();
        -webkit-filter: invert();
        transition: filter 300ms cubic-bezier(1, -0.01, 0, 1),
        -webkit-filter 300ms cubic-bezier(1, -0.01, 0, 1);
    }
}
