/* Creating named values cuz im stupid */

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #ff4a6a;
    --color-primary-dim: #ff4a6a7f;
    --color-text: #ffffff;
    --color-text-dim: #ffffff7f;
    --color-background: #000000;
    --color-postcard-text: #b4befe5f;
    --color-white-accent: #ffffff35;
    --catppuccino-crust: #1e1e2d;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #ff4a6a;
    --color-primary-dim: #ff4a6a7f;
    --color-text: #000000;
    --color-text-dim: #000000;
    --color-background: #ffffff;
    --color-postcard-text: #484848;
    --color-white-accent: #ffffff35;
    --catppuccino-crust: #dce0e8;
  }
}

@font-face {
  font-family: Ioskeva;
  src: url(./fonts/mono/Ioskeva-Regular.ttf);
}

@font-face {
  font-family: VictorMonoItalics;
  src: url(./fonts/VictorMono/victormono_italics.ttf);
}

@font-face {
  font-family: southam;
  src: url(./fonts/sign/southam/Southam.otf);
}

@font-face {
  font-family: WorkSans;
  src: url(./fonts/WorkSans.ttf);
}

@font-face {
  font-family: BebasNeue;
  src: url(./fonts/BebasNeue.ttf);
}

@font-face {
  font-family: Newsreader;
  src: url(./fonts/Newsreader.ttf);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, WorkSans, sans-serif;
  line-height: 1.5;

  font-weight: 350;
  background-color: var(--color-background);
  color: var(--color-text);

  display: flex;
  flex-direction: column;
  text-align: left;
  max-height: 100vh;
  height: 95vh;

  margin: auto;
  margin-inline: 28%;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;

  transition: margin 0.3s ease-in-out,
    background-color 150ms ease-in-out,
    color 150ms ease-in-out;
}

::selection {
  color: var(--color-text);
  background-color: var(--color-primary-dim);
}

::-moz-selection {
  color: var(--color-text);
  background-color: var(--color-primary-dim);
}

header {
  flex: 0;
}

footer {
  width: 100%;
  flex: 0;

  font-size: 0.9rem;
  font-weight: 300;
  align-self: center;
  padding: 1rem 0;

  text-align: center;

  border-top: 1px solid var(--color-text-dim);
  /* background-color: var(--color-background);*/
  /* color: var(--color-postcard-text); */
  color: var(--color-text-dim);

  &>span {
    color: var(--color-primary-dim);
  }
}

/* all italics fonts to victormonoitalics */
em {
  font-family: southam;
  font-size: 2.5rem;
}

b {
  font-weight: 500;
}




#theme-toggle {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 0;
  /* this is an id to a svg with path. Change the colour */
  fill: var(--color-text);
  /*disable text selection*/
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  /*once clicked spin for 5 turns*/
}

.theme-toggle-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  margin-left: 1rem;
}

.footer-image {
  width: 15px;
  height: 15px;
  margin: 0;
  user-select: none;
  display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  transform: rotate(20deg);
}

.theme-toggle {
  border: none;
  background-color: transparent;
  color: white;
}

nav {
  margin: auto;
  padding: 1rem;

  /*background-color: var(--color-background);*/

  display: flex;
  justify-content: space-between;
  flex-direction: row;

  border-bottom: 1px solid var(--color-text-dim);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  position: relative;
}


.navigations {
  font-size: 1rem;

  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  margin-right: 1rem;

  &>a {
    font-size: 1.2rem;
    font-weight: 450;
    word-wrap: break-word;
    color: var(--color-text);
  }
}


/* Thank you, @kepano!
*/
a:not(.plain):not(.tag):not(.post-tag):not(.internal-link):not(.footnote):not(.reversefootnote):not(.post-card) {
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="1"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M9.71069 18.2929C10.1012 18.6834 10.7344 18.6834 11.1249 18.2929L16.0123 13.4006C16.7927 12.6195 16.7924 11.3537 16.0117 10.5729L11.1213 5.68254C10.7308 5.29202 10.0976 5.29202 9.70708 5.68254C9.31655 6.07307 9.31655 6.70623 9.70708 7.09676L13.8927 11.2824C14.2833 11.6729 14.2833 12.3061 13.8927 12.6966L9.71069 16.8787C9.32016 17.2692 9.32016 17.9023 9.71069 18.2929Z" fill="grey"></path></g></svg>');
  background-position: right center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: .75em;
  padding-right: 0.75em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: WorkSans;
  margin: 0;
  padding: 0;
  margin-top: 0.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  text-align: left;
  word-break: break-word;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.9rem;
  font-weight: 550;
}

h4 {
  font-size: 1.7rem;
}

.body {
  /* padding: 1rem; */
  /*background-color: var(--color-background);*/

  flex: 1 0 auto;
  margin-top: 0.5rem;
  margin-top: 0.5rem;

  &>a,
  &>ul>li>a,
  &>ol>li>a,
  &>ul>li>p>a,
  &>ol>li>p>a,
  &>p>a {
    color: var(--color-primary);
  }

  &>p {
    margin: 0;
    padding: 0;
  }

  &>p,
  &>a,
  &>ul>li,
  &>ol>li,
  &>ul>li>a,
  &>ol>li>a {
    font-size: 1.1rem;
  }

  /*
    & > ul > li,
    & > ol > li {
        margin-left: -2rem;
    } */
}

.profile-image {
  width: 50px;
  height: 50px;
  /*dont change image dimensions*/
  object-fit: cover;
  margin: 0;
  padding: 0;
}

img:not(.theme-toggle):not(.profile-image) {
  box-shadow: 0 0 0px #000000;
}

img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  overflow: hidden;
  object-fit: cover;
  object-position: center center;

  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

  transition: 150ms;

  &:hover {
    /* transform: scale(1.02); */
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
  }

  &:active {
    /* transform: scale(1.02); */
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
  }
}

iframe {
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

details>summary {
  font-size: 1.5rem;
  font-family: BebasNeue;
}

summary::marker {
  color: var(--color-primary);
}

details>img {
  width: 70%;
}

.all-tags,
.tagged-posts {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  &>a {
    font-size: 1.1rem;
    padding: 0.5rem;
    margin: 0.3rem;
  }
}

.tag-placeholder {
  display: flex;
  user-select: none;
}

.tag {
  display: inline-block;
  border-radius: 2px;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  width: fit-content;
  padding: 0.3rem;
  user-select: none;
}

.post-tag {
  font-weight: 500;
  user-select: none;
}

.post-info {
  border-bottom: 2px dotted var(--color-text-dim);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.posts {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: auto;
  /*font-family: WorkSans;*/

  &>a {
    border-radius: 5px;
    margin: 0.5rem;
    word-wrap: break-word;
    text-decoration: none;

    transition:
      background-color 150ms ease-in-out,
      box-shadow 150ms ease-in-out;
  }

  &>a:hover {
    /*box-shadow: inset 0 0 20px var(--color-text);*/
    background-color: var(--color-background);
  }
}

.post-card {
  color: var(--color-text-dim);
}

.post-card-div {
  display: grid;

  padding-top: 0.4rem;
  padding-bottom: 0.4rem;

  &>* {
    padding-inline: 1rem;
    /* color: var(--color-postcard-text); */
    color: var(--color-text-dim);
  }

  &>p {
    margin: 0;
    padding: 0;
    padding-inline: 1rem;
    font-size: 0.9rem;
    font-weight: 300;
  }
}

.post-card.description {
  &>h3 {
    font-size: 1.7rem;
    margin: 0;
    color: var(--color-text);
    /* color: var(--color-text-dim); */
  }

  &>p {
    font-size: 0.9rem;
  }
}

.post-card.description.date {
  color: var(--color-primary);
}

.post-card.description {
  &>p {
    font-weight: 300;
    padding: 0;
    margin: 0;
  }
}

.body>img {
  /* center the image wrt the screen*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;

  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
}

pre code {
  font-family: Ioskeva, monospace;
  background: white;
  overflow-x: scroll;
  scrollbar-width: none;
  border-radius: 0.5rem;
}

pre code.hljs {
  /* background-color: #151525!important; */
  /* line-height: 1.4rem; */
  /*use ligatures*/
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "liga" on;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p>code,
li>code,
dd>code,
td>code h1>code,
h2>code,
h3>code,
h4>code {
  font-family: Ioskeva, monospace;
  color: var(--color-primary);
  background-color: var(--catppuccino-crust);
  box-shadow: inset 0 0 4px #ffffff45;
  border-radius: 5px;
  word-wrap: break-word;
  font-size: 1rem;
  box-decoration-break: clone;
  padding-inline: 0.4rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 0.2rem;
}

blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;

  &>p {
    font-family: VictorMonoItalics;
    font-size: 1.2rem;
    margin-left: 1rem;
  }

  border-left: 3px solid var(--color-primary);
  margin-left: 0px;
}

@media (max-width: 1200px) {
  body {
    margin-inline: 20%;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 900px) {
  body {
    margin-inline: 20%;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/* styling for viewports width < 600px */
@media (max-width: 650px) {
  .navigations {
    font-size: 1rem;
  }

  body {
    margin-inline: 8%;
  }

  footer {
    font-size: 0.8rem;
  }

  img {
    /* height: 35rem;
    width: auto; */
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .body {

    &>a,
    &>p,
    &>ul>li,
    &>ol>li,
    &>ul>li>a,
    &>ol>li>a {
      font-size: 1.25rem;
    }

    &>h1 {
      font-size: 2rem;
    }

    &>h2 {
      font-size: 1.7rem;
    }

    &>h3 {
      font-size: 1.5rem;
    }

    &>h4 {
      font-size: 1.1rem;
    }
  }

  .post-card,
  .post-card.description {

    &>p,
    &>.post-card-div>p {
      font-size: 0.9rem;
    }

    &>h3 {
      font-size: 1.5rem;
    }
  }

  pre code.hljs {
    width: 95%;
  }

  img {
    width: 100%;
    height: auto;
  }
}
