/* Creating named values cuz im stupid */

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #FF4A6A;
        --color-primary-dim: #FF4A6A7f;
		--color-text: #ffffff;
        --color-text-dim: #ffffff7f;
		--color-background: #000000;
        --color-postcard-text: #b4befe5f;
        --color-white-accent: #ffffff35;
        --catppuccino-crust: #1e1e2d;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-primary: #FF4A6A;
        --color-primary-dim: #FF4A6A7f;
		--color-text: #000000;
        --color-text-dim: #000000;
		--color-background: #ffffff;
        --color-primary: white;
        --color-primary-dim: white;
        --color-postcard-text: #484848;
        --color-white-accent: #ffffff35;
        --catppuccino-crust: #dce0e8;
    }
}

@font-face {
    font-family: Ioskeva;
    src: url(./fonts/mono/Ioskeva-Regular.ttf);
}

@font-face {
    font-family: VictorMonoItalics;
    src: url(./fonts/VictorMono/victormono_italics.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat/Montserrat.ttf);
}

@font-face {
	font-family: southam;
	src: url(./fonts/sign/southam/Southam.otf);
}

* {
    transition: background-color 200ms ease-in-out;
    /* background-color: var(--color-background); */
}

body {

    font-family: Ambit, Montserrat, monospace;
    line-height: 1.6;

    font-weight: 350;
    background-color: var(--color-background);
    color: var(--color-text);

    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 100vh;
    height:95vh;

    margin: auto;
    margin-inline: 31%;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;

    transition: margin 0.3s ease-in-out;

}

header {
    flex: 0;
}

footer {
    width: 100%;
    flex: 0;

    font-size: .9rem;
    font-weight: 300;
    align-self: center;
    padding: 1rem 0;

    text-align: center;

    border-top: 2px dashed var(--color-primary);
    background-color: var(--color-background);
    /* color: var(--color-postcard-text); */
    color: var(--color-text-dim);


    & > span {
        color: var(--color-primary-dim);

    }
}

/* all italics fonts to victormonoitalics */
i, em {
    font-family: southam;
    font-size: 1.8rem;
}
b {
    font-weight: 500;
}

.navigations {
    font-size: 1.1rem;
    font-weight: 500;

    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    & > a {
        word-wrap: break-word;
    }
    /*
    border-bottom: 2px dotted var(--color-primary-dim);
    */
}

#theme-toggle {
    cursor: pointer;
    /*disable text selection*/
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.material-symbols-rounded {
    width: 50px!important;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.theme-toggle-div {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.theme-toggle {
    border: none;
    background-color: transparent;
    color: white;
}

nav {
    margin: auto;
    padding: 1rem;

    background-color: var(--color-background);

    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

a {
    color: var(--color-primary);
    text-decoration: none;
    position: relative;
}

a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--color-primary);
    transform: scaleX(0);
    transition: transform 0.5s ease;
}
  

a:hover::before {
  transform: scaleX(1);
}
a:active::before {
  transform: scaleX(1);
}




/* Thank you, @kepano!
a:not(.plain):not(.tag):not(.post-tag):not(.internal-link):not(.footnote):not( .reversefootnote ):not(.post-card) {
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2.5' stroke='gray' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25' /%3E%3C/svg%3E%0A");
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M9.71069 18.2929C10.1012 18.6834 10.7344 18.6834 11.1249 18.2929L16.0123 13.4006C16.7927 12.6195 16.7924 11.3537 16.0117 10.5729L11.1213 5.68254C10.7308 5.29202 10.0976 5.29202 9.70708 5.68254C9.31655 6.07307 9.31655 6.70623 9.70708 7.09676L13.8927 11.2824C14.2833 11.6729 14.2833 12.3061 13.8927 12.6966L9.71069 16.8787C9.32016 17.2692 9.32016 17.9023 9.71069 18.2929Z" fill="%23ffffff"></path></g></svg>');
     */
    /*
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M17.1109 13.5754C17.5014 13.9659 18.1346 13.9659 18.5251 13.5754L21 11.1005C23.1479 8.95265 23.1479 5.47025 21 3.32236C18.8521 1.17448 15.3697 1.17448 13.2218 3.32236L10.7469 5.79724C10.3564 6.18776 10.3564 6.82093 10.7469 7.21145C11.1375 7.60197 11.7706 7.60197 12.1612 7.21145L14.636 4.73658C16.0029 3.36974 18.2189 3.36974 19.5858 4.73658C20.9526 6.10341 20.9526 8.31949 19.5858 9.68632L17.1109 12.1612C16.7204 12.5517 16.7204 13.1849 17.1109 13.5754Z" fill="%23ffffff"></path><path d="M5.79719 10.747C6.18771 10.3565 6.82088 10.3565 7.2114 10.747C7.60193 11.1375 7.60193 11.7707 7.2114 12.1612L4.73653 14.6361C3.36969 16.0029 3.36969 18.219 4.73653 19.5858C6.10336 20.9527 8.31944 20.9527 9.68628 19.5858L12.1612 17.1109C12.5517 16.7204 13.1848 16.7204 13.5754 17.1109C13.9659 17.5015 13.9659 18.1346 13.5754 18.5252L11.1005 21C8.95261 23.1479 5.4702 23.1479 3.32232 21C1.17443 18.8521 1.17443 15.3697 3.32232 13.2219L5.79719 10.747Z" fill="%23ffffff"></path><path d="M8.97917 15.3432C8.58865 14.9527 8.58865 14.3195 8.97917 13.929L13.9289 8.97922C14.3194 8.58869 14.9526 8.58869 15.3431 8.97922C15.7337 9.36974 15.7337 10.0029 15.3431 10.3934L10.3934 15.3432C10.0029 15.7337 9.3697 15.7337 8.97917 15.3432Z" fill="%23ffffff"></path></g></svg>');
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg" fill="%23000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><g fill="none" fill-rule="evenodd" stroke="%23FF4A6A" stroke-linecap="round" stroke-linejoin="round" transform="translate(4 4)"><path d="m5.5 7.5c.96940983 1.36718798 3.01111566 1.12727011 4.01111565 0l1.98888435-2c1.1243486-1.22807966 1.1641276-2.81388365 0-4-1.135619-1.15706921-2.86438099-1.15706947-4 0l-2 2"></path><path d="m7.5 6.56977319c-.96940983-1.36718798-3-1.1970433-4-.06977319l-2 1.97487373c-1.12434863 1.22807966-1.16412758 2.83900987 0 4.02512627 1.13561901 1.1570692 2.86438099 1.1570695 4 0l2-2"></path></g></g></svg>');
    background-position: right bottom;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: .9em;
    padding-right: 0.75em;
}
*/


h1, h2, h3, h4, h5, h6 {
    font-family: Ambit, Montserrat;
    margin: 0;
    padding: 0;
    margin-top: .5rem;
    font-weight: 500;
    margin-bottom: .5rem;
    text-align: left;
    word-break: break-word;
}

h1 { font-size: 2.0rem;}
h2 { font-size: 1.7rem;}
h3 { font-size: 1.5rem;}
h4 {font-size: 1.3rem;}

.body {
    padding: 1rem;
    background-color: var(--color-background);

    flex: 1 0 auto;

    & > a,
    & > ul > li > a,
    & > ol > li > a,
    & > ul > li > p > a,
    & > ol > li > p > a,
    & > p > a {
        color: var(--color-primary);
    }

    & > p {
        margin: 0;
        padding: 0;
    }
    
    & > p, 
    & > a,
    & > ul > li,
    & > ol > li,
    & > ul > li > a,
    & > ol > li > a {
        font-size: .9rem;
    }

}


img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 9px;
    overflow: hidden;
    object-fit: cover;
    object-position: center center;

    transition: 150ms;

    &:hover {
        transform: scale(1.02);
    }
    &:active {
        transform: scale(1.02); 
    }
}

iframe {
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.all-tags, .tagged-posts {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    
    & > a {
        font-size: 1.1rem;
        padding: .5rem;
        margin: .3rem;

    }
    
}

.tag-placeholder {
    display: flex;
}

.tag {
    display: inline-block;
    border-radius: 2px;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    width: fit-content;
    padding: 0.3rem;
}
.post-tag {
    font-weight: 500;
}

.posts {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: auto;

    & > a {
        border-radius: 5px;
        margin: .5rem;
        word-wrap: break-word;
        text-decoration: none;

        transition: background-color 150ms ease-in-out,
                    box-shadow 150ms ease-in-out;


    }

    & > a:hover {
        /*box-shadow: inset 0 0 20px var(--color-text);*/
        background-color: var(--color-background);
    }

}

.post-card {
    color: var(--color-text-dim);
}

.post-card-div {
    display: grid;

    padding-top: .4rem;
    padding-bottom: .4rem;

    & > *  {
        padding-inline: 1rem;
        /* color: var(--color-postcard-text); */
        color: var(--color-text-dim);
    }

    & > p {
        margin: 0;
        padding: 0;
        padding-inline: 1rem;
        font-size: .9rem;
        font-weight: 300;
    }
}

.post-card.description {
    & > h3 {
        font-size: 1.4rem;
        margin: 0;
        color: var(--color-text);
        /* color: var(--color-text-dim); */
    }
    & > p {
        font-size: .9rem;
    }
}

.post-card.description {
    & > p {
        font-weight: 300;
        padding: 0;
        margin: 0;
    }
}

.body > img {
    /* center the image wrt the screen*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}


pre code {
    font-family: Ioskeva, monospace;
    background: white;
    overflow-x: scroll;
    scrollbar-width: none;
    border-radius: .5rem;
}

pre code.hljs {
    background: #1e1e2d;
}

p > code,
li > code,
dd>code,
td>code {
    font-family: Ioskeva, monospace;
    background: var(--catppuccino-crust);
    color: var(--color-primary);
    border: 1.5px solid var(--color-white-accent);
    border-radius: 5px;
    word-wrap: break-word;
    font-size: inherit;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}


blockquote {
    margin-top: 2rem;
    margin-bottom: 2rem;
    & > p {
        font-family: VictorMonoItalics;
        font-size: 1.2rem;
        margin-left: 1rem;
    }

    border-left: 3px solid var(--color-primary);
	margin-left: 0px;
}

@media (max-width: 1400px) {
    body {
        margin-inline: 25%;
    }

    img {
        width: 90%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 900px) {
    body {
        margin-inline: 20%;
    }

    img {
        width: 90%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}


/* styling for viewports width < 600px */
@media (max-width: 650px) {
    .navigations {
        font-size: 1rem;
    }

    body {
        margin-inline: 10%;
    }

    footer {
        font-size: .8rem;
    }

    img {
            /* height: 35rem;
    width: auto; */
    width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    }
    

    .body {
        & > a,
        & > p, & > ul > li,
        & > ol > li,
        & > ul > li > a,
        & > ol > li > a {
            font-size: .9rem;
        }

        & > h1 { font-size: 1.7rem;}
        & > h2 { font-size: 1.5rem;}
        & > h3 { font-size: 1.3rem;}
    }

    .post-card,
    .post-card.description {
        & > p,
        & > .post-card-div > p {
            font-size: .9rem;
        } 

        & > h3 {
            font-size: 1.1rem;
        }
    }

    pre code.hljs {
        width: 95%;
    }

    img {
        width: 100%;
        height: auto;
    }
}


