/* Creating named values cuz im stupid */

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #FF4A6A;
        --color-primary-dim: #FF4A6A7f;
		--color-text: #ffffff;
        --color-text-dim: #ffffff7f;
		--color-background: #000000;
        --color-postcard-text: #b4befe5f;
        --color-white-accent: #ffffff35;
        --catppuccino-crust: #1e1e2d;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-primary: #FF4A6A;
        --color-primary-dim: #FF4A6A7f;
		--color-text: #000000;
        --color-text-dim: #000000;
		--color-background: #ffffff;
        --color-primary: white;
        --color-primary-dim: white;
        --color-postcard-text: #484848;
        --color-white-accent: #ffffff35;
        --catppuccino-crust: #dce0e8;
    }
}

@font-face {
    font-family: Ioskeva;
    src: url(./fonts/mono/Ioskeva-Regular.ttf);
}

@font-face {
    font-family: VictorMonoItalics;
    src: url(./fonts/VictorMono/victormono_italics.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat/Montserrat.ttf);
}

@font-face {
	font-family: southam;
	src: url(./fonts/sign/southam/Southam.otf);
}

@font-face {
    font-family: WorkSans;
    src: url(./fonts/WorkSans.ttf);
}

@font-face {
    font-family: BebasNeue;
    src: url(./fonts/BebasNeue.ttf);
}


body {

    font-family: WorkSans, Montserrat, monospace;
    line-height: 1.6;

    font-weight: 350;
    background-color: var(--color-background);
    color: var(--color-text);

    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 100vh;
    height:95vh;

    margin: auto;
    margin-inline: 31%;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;

    transition: margin 0.3s ease-in-out;

}

header {
    flex: 0;
}

footer {
    width: 100%;
    flex: 0;

    font-size: .9rem;
    font-weight: 300;
    align-self: center;
    padding: 1rem 0;

    text-align: center;

    border-top: 1px solid var(--color-text-dim);
    background-color: var(--color-background);
    /* color: var(--color-postcard-text); */
    color: var(--color-text-dim);


    & > span {
        color: var(--color-primary-dim);

    }
}

/* all italics fonts to victormonoitalics */
i, em {
    font-family: southam;
    font-size: 3.2rem;
}
b {
    font-weight: 500;
}

.navigations {
    font-size: 1.1rem;
    font-weight: 500;

    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    & > a {
        word-wrap: break-word;
    }
    /*
    border-bottom: 2px dotted var(--color-primary-dim);
    */
}

#theme-toggle {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 0;
    /* this is an id to a svg with path. Change the colour */
    fill: var(--color-text);
    /*disable text selection*/
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}


.theme-toggle-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
}

.theme-toggle {
    border: none;
    background-color: transparent;
    color: white;
}

nav {
    margin: auto;
    padding: 1rem;

    background-color: var(--color-background);

    display: flex;
    justify-content: space-between;
    flex-direction: row;

    border-bottom: 1px solid var(--color-text-dim);

}

a {
    color: var(--color-primary);
    text-decoration: none;
    position: relative;
}

a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--color-primary);
    transform: scaleX(0);
    transition: transform 0.5s ease;
}
  

a:hover::before {
  transform: scaleX(1);
}
a:active::before {
  transform: scaleX(1);
}




/* Thank you, @kepano!
a:not(.plain):not(.tag):not(.post-tag):not(.internal-link):not(.footnote):not( .reversefootnote ):not(.post-card) {
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M9.71069 18.2929C10.1012 18.6834 10.7344 18.6834 11.1249 18.2929L16.0123 13.4006C16.7927 12.6195 16.7924 11.3537 16.0117 10.5729L11.1213 5.68254C10.7308 5.29202 10.0976 5.29202 9.70708 5.68254C9.31655 6.07307 9.31655 6.70623 9.70708 7.09676L13.8927 11.2824C14.2833 11.6729 14.2833 12.3061 13.8927 12.6966L9.71069 16.8787C9.32016 17.2692 9.32016 17.9023 9.71069 18.2929Z" fill="%23ffffff"></path></g></svg>');
    background-position: right center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: .75em;
    padding-right: 0.75em;
}
*/


h1, h2, h3, h4, h5, h6 {
    font-family: BebasNeue, Montserrat;
    margin: 0;
    padding: 0;
    margin-top: .5rem;
    font-weight: 500;
    margin-bottom: .5rem;
    /*text spacing*/
    text-align: left;
    word-break: break-word;
}

h1 { font-size: 2.5rem;}
h2 { font-size: 2.0rem;}
h3 { font-size: 1.9rem;}
h4 {font-size: 1.7rem;}

.body {
    /* padding: 1rem; */
    background-color: var(--color-background);

    flex: 1 0 auto;
    margin-top: .5rem;
    margin-top: .5rem;

    & > a,
    & > ul > li > a,
    & > ol > li > a,
    & > ul > li > p > a,
    & > ol > li > p > a,
    & > p > a {
        color: var(--color-primary);
    }

    & > p {
        margin: 0;
        padding: 0;
    }
    
    & > p, 
    & > a,
    & > ul > li,
    & > ol > li,
    & > ul > li > a,
    & > ol > li > a {
        font-size: 1rem;
    }
/* 
    & > ul > li,
    & > ol > li {
        margin-left: -2rem;
    } */

}

/* CSS animation, make all images jump up by scale for a second when page is loaded */
@keyframes jump {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}

img {
    animation: jump 1s;

    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
    object-position: center center;

    transition: 150ms;

    &:hover {
        transform: scale(1.02);
    }
    &:active {
        transform: scale(1.02); 
    }
}

iframe {
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

details > summary {
    font-size: 1.5rem;
    font-family: BebasNeue, Montserrat;
}

summary::marker {
    color: var(--color-primary)
}

details > img {
    width: 70%;
}

.all-tags, .tagged-posts {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    
    & > a {
        font-size: 1.1rem;
        padding: .5rem;
        margin: .3rem;

    }
    
}

.tag-placeholder {
    display: flex;
}

.tag {
    display: inline-block;
    border-radius: 2px;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    width: fit-content;
    padding: 0.3rem;
}
.post-tag {
    font-weight: 500;

}

.posts {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: auto;

    & > a {
        border-radius: 5px;
        margin: .5rem;
        word-wrap: break-word;
        text-decoration: none;

        transition: background-color 150ms ease-in-out,
                    box-shadow 150ms ease-in-out;


    }

    & > a:hover {
        /*box-shadow: inset 0 0 20px var(--color-text);*/
        background-color: var(--color-background);
    }

}

.post-card {
    color: var(--color-text-dim);
}

.post-card-div {
    display: grid;

    padding-top: .4rem;
    padding-bottom: .4rem;

    & > *  {
        padding-inline: 1rem;
        /* color: var(--color-postcard-text); */
        color: var(--color-text-dim);
    }

    & > p {
        margin: 0;
        padding: 0;
        padding-inline: 1rem;
        font-size: .9rem;
        font-weight: 300;
    }
}

.post-card.description {
    & > h3 {
        font-size: 1.7rem;
        margin: 0;
        color: var(--color-text);
        /* color: var(--color-text-dim); */
    }
    & > p {
        font-size: .9rem;
    }
}

.post-card.description {
    & > p {
        font-weight: 300;
        padding: 0;
        margin: 0;
    }
}

.body > img {
    /* center the image wrt the screen*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}


pre code {
    font-family: Ioskeva, monospace;
    background: white;
    overflow-x: scroll;
    scrollbar-width: none;
    border-radius: .5rem;
}

pre code.hljs {
    /* background-color: #151525!important; */
    /* line-height: 1.4rem; */
    /*use ligatures*/
    font-variant-ligatures: common-ligatures;
    font-feature-settings: "liga" on;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p > code,
li > code,
dd>code,
td>code {
    font-family: Ioskeva, monospace;
    /* background: var(--catppuccino-crust); */
    color: var(--color-primary);
    border: 1.5px solid var(--color-text-dim);
    border-radius: 5px;
    word-wrap: break-word;
    font-size: inherit;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}


blockquote {
    margin-top: 2rem;
    margin-bottom: 2rem;
    & > p {
        font-family: VictorMonoItalics;
        font-size: 1.2rem;
        margin-left: 1rem;
    }

    border-left: 3px solid var(--color-primary);
	margin-left: 0px;
}

@media (max-width: 1200px) {
    body {
        margin-inline: 25%;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 900px) {
    body {
        margin-inline: 20%;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}


/* styling for viewports width < 600px */
@media (max-width: 650px) {
    .navigations {
        font-size: 1rem;
    }

    body {
        margin-inline: 8%;
    }

    footer {
        font-size: .8rem;
    }

    img {
            /* height: 35rem;
    width: auto; */
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    }
    

    .body {
        & > a,
        & > p, & > ul > li,
        & > ol > li,
        & > ul > li > a,
        & > ol > li > a {
            font-size: .9rem;
        }

        & > h1 { font-size: 2.0rem;}
        & > h2 { font-size: 1.7rem;}
        & > h3 { font-size: 1.5rem;}
        & > h4 {font-size: 1.1rem;}
    }

    .post-card,
    .post-card.description {
        & > p,
        & > .post-card-div > p {
            font-size: .9rem;
        } 

        & > h3 {
            font-size: 1.5rem;
        }
    }

    pre code.hljs {
        width: 95%;
    }

    img {
        width: 100%;
        height: auto;
    }
}


