html, body {
    /* background-color: #212121; */
    font-family: 'Roboto';
    color: #7e7e7e;
    display: grid;
    grid-template-rows: 50px 1fr;
    margin: 0;
}

.profile-header {
    /* background-color: #c65c55; */
    padding: 15px;
    border: none;
    display: grid;
    grid-template-columns: 1fr 241px;
}

.profile-header-info {
    font-size: 100px;
    font-weight: 800;
    font-family: 'Roboto Serif';
    padding: 0;
    display: inline-block;
    color: #212121;
    margin: 0;
}
.profile-header-info-sub {
    font-size: 32px;
    color: #212121;
    opacity: 0.5;
    font-family: 'Roboto Serif';
    margin: 0;
    padding: 0;
}

.profile-header-pfp {
    width: 241px;
    border-radius: 4px;
}