html, body {
    font-family: 'Roboto Mono';
    /* font-family: 'Helvetica', monospace; */
    margin: 0;
    background-color: #1c1411;
    color: #cad1df;
    max-width: 100%;
    overflow-x: hidden;
}

html {
    scroll-snap-type: y mandatory;
}

/* NAVBAR !! */

.page-navbar {
    background-color: #b96259;
    color: #1c1411;
    position: absolute;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.page-navbar-titles>p {
    display: block;
    margin: 0px;
    padding-left: 6px;
}
.page-title {
    /* transform: translate(0, 8%); */
    font-size: 70px;
    font-weight: 900;
    font-family: 'Anton', sans-serif;
}
.page-subtitle {
    font-size: 15px;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    /* padding-top: 65px; */
    display: grid;
    scrollbar-width: none;
    /* justify-content: center; */
}

nav {
    height: 30px;
}

/* PAGE 1 !!! */

.homepage.p1 {
    display: grid;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 250px;
    height: 250px;
    /* background-color: lightcoral; */
}
.profile-image > img {
    width: inherit;
    height: inherit;
    border-radius: 4px;

}

.profile-info {
    margin-top: 6px;
    width: 250px;
    /* background-color: lightseagreen; */
    display: grid;
    justify-content: center;
    align-items: center;
}
.profile-info>p {
    margin: 0;
    font-size: 12px;
    justify-self: center;
}

.profile-links {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.profile-links .item {
    width: 40vh;
    font-size: 20px;
    font-family: inherit;
    font-weight: 400;
    padding: 12px;
    padding-inline: 20px;
    margin-top: 12px;

    display: grid;
    grid-template-columns: 30px 1fr 30px;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 6px;

    background-color: #2e211c;
    color: #cad1df;
    border: 2px solid #cad1df;

    &:hover,
    &:focus {
        background-color: #b96259;
        color: #1c1411;


        transition: background-color 0.3s, color 0.3s;
    }
}

.profile-links .item .svg {
    width: 35px;
    justify-content: center;
    align-items: center;

    filter: invert(100%);


}


/* PAGE 2 - Under Devlopement */
/*  To display, uncoment <section> tag under page 2 comment
    in index.html
*/

.homepage.p2 {
    /* background-color: lightcoral; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-wrapper {
    max-height: 50vh;
    width: 35vh;
    border: 1px solid #ddd;
    border-radius: 25px;
    display: flex;
    overflow-x: auto;
    scrollbar-color: none;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.carousel-wrapper::-webkit-scrollbar {
    display: none;
}

.carousel-wrapper .item {
    height: 50vh;
    min-width: 35vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    align-items: center;
    justify-content: center;
}


