html, body {
    font-family: 'Roboto Mono';
    /* font-family: 'Helvetica', monospace; */
    margin: 0;
    background-color: black;
    color: #cad1df;
}

html {
    scroll-snap-type: y mandatory;
}

.page-navbar {
    background-color: #3f0e1a;
    position: fixed;
    height: 70px;
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-navbar-titles>p {
    display: block;
    margin: 0px;
    padding-left: 6px;
}
.page-title {
    /* transform: translate(0, 8%); */
    font-size: 1.5em;
    font-weight: 900;
}
.page-subtitle {
    font-size: 15px;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    /* padding-top: 65px; */
    display: grid;
    /* justify-content: center; */
}

nav {
    height: 30px;
}

.homepage.p1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 250px;
    height: 250px;
    /* background-color: lightcoral; */
}
.profile-image > img {
    width: inherit;
    height: inherit;
    border-radius: 4px;

}

.profile-info {
    margin-top: 6px;
    width: 250px;
    /* background-color: lightseagreen; */
    display: grid;
    justify-content: center;
    align-items: center;
}
.profile-info>p {
    margin: 0;
    font-size: 12px;
    justify-self: center;
}

.homepage.p2 {
    background-color: lightcoral;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-wrapper {
    max-height: 75vh;
    width: 95vh;
    /* border: 1px solid #ddd; */
    border-radius: 25px;
    display: flex;
    overflow-x: auto;
    scrollbar-color: none;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.carousel-wrapper::-webkit-scrollbar {
    display: none;
}

.carousel-wrapper .item {
    min-width: 95vh;
    height: 80vh;
    background-color: black;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xxx-large;
}


