{{ define "page"}}
{{ template "head" .}}

<body>

    {{template "header" .}}

    <div class="body">
        <div class="tags-paceholder">
            {{range .Frontmatter.Tags}}
            <div class="tag">
            #<a class="post-tag" href="/tags/{{.}}.html">{{.}}</a>
            </div>
            {{end}}
        </div>
        {{.Body}}
    </div>

    <script>
        function lightScheme() {
            document.documentElement.style.setProperty('--color-text', '##484848');
            document.documentElement.style.setProperty('--color-background', '##f6f5ee');
            document.documentElement.style.setProperty('--color-postcard-text', '#484848');

            document.body.style.backgroundColor = "#f6f5ee";
            document.body.style.backgroundImage = "none";
        };

        window.addEventListener("load", function() {
            lightScheme();
        });
        lightScheme();

        hljs.highlightAll();
        hljs.addPlugin(new CopyButtonPlugin());
    </script>

    {{template "footer" .}}

</body>
</html>

{{ end}}
